// 黑色
$black: #000000;
// 白色
$white: #ffffff;

// 主题颜色
$themeColor: #007aff;

// 背景颜色1
$bgColor1: #fff;

// 背景颜色2
$bgColor2: #f8f8f8;

// 边框颜色1
$borderColor1: #c8c7cc;

// 文字颜色1
$textColor1: #333;

// 文字颜色2
$textColor2: #fff;

// 文字颜色3
$textColor3: #999;
