// 垂直水平居中
@mixin flex_center {
	display: flex;
	align-items: center;
	justify-content: center;
}

// 单行文本省略号
@mixin omit {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// 多行文本省略号
@mixin omit_more {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
